body {
  font-family: 'Josefin Sans', sans-serif !important;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  line-height: 60px;
}
@media only screen and (max-width: 991px) {
  .col-lg-4.col-12 {
    padding: 1% 3%;
  }
}
@media only screen and (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
